body {
  font-family: "Merriweather";
}

.title {
 font-weight: 800;
 font-size: 45px;
 line-height: 88px;
}

.nav-hover {
  font-weight: 600;
  text-decoration: none;
  color: black;
}

.nav-hover:hover {
  color: rgb(148, 148, 9);
}

.icons {
  cursor: pointer;
}

.iconka {
  margin-left: 13px;
}

.box {
  margin-left: 270px;
}

.carousel-image {
  height: 600px;
}

.boxs {
  position: absolute;
  top: 350px;
  left: 550px;
  z-index: 1;
}

.text {
 color: white;
 text-align: center;
 font-size: 24px;
 font-weight: 800;
 margin: 0;
}

.box-text {
  color: white;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin: 0;
}

.carousel-text {
  color: white;
  text-align: center;
  font-size: 16px;
  font-weight: 100;
  margin: 0;
}